### for loop

In [1]:
my_list = [1,2,3,4,5,6,7,8]

In [2]:
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
for i in my_list:
    print(i)

1
2
3
4
5
6
7
8

In [5]:
for i in my_list:
    print(i*2)

2
4
6
8
10
12
14
16

In [6]:
for i in my_list:
    print(i*i)

1
4
9
16
25
36
49
64

In [7]:
odd_list = []

In [8]:
even_list = []

In [9]:
for i in my_list:
    if (i%2 == 0):
        even_list.append(i)
    else:
        odd_list.append(i)

In [10]:
print(odd_list)

[1, 3, 5, 7]

In [11]:
print(even_list)

[2, 4, 6, 8]

In [12]:
my_list1 = [1,2,3,4,5,6,7,8,9,10,11,12]

In [13]:
list_div_3 = []

In [14]:
list_div_4 = []

In [15]:
list_div_5 = []

In [16]:
other = []

In [17]:
for i in my_list1:
    if (i%3 == 0):
        list_div_3.append(i)
    elif (i%4 == 0):
        list_div_4.append(i)
    elif (i%5 == 0):
        list_div_5.append(i)
    else:
        other.append(i)

In [18]:
print(list_div_3)

[3, 6, 9, 12]

In [19]:
print(list_div_4)

[4, 8]

In [20]:
print(list_div_5)

[5, 10]

In [21]:
print(other)

[1, 2, 7, 11]

### Functions

In [22]:
def my_add_function(a, b):
    return(a + b)

In [23]:
p1 = my_add_function(10,20)

In [24]:
print(p1)

30

In [25]:
p2 = my_add_function(20.2,30.3)

In [26]:
print(p2)

50.5

In [27]:
def my_mult_function(x, y):
    mult = x * y
    return(mult)

In [28]:
p3 = my_mult_function(20,40)

In [29]:
print(p3)

800

In [30]:
def my_math_operation1(x, y, z):
    if z == "add":
        return (x + y)
    elif z == "sub":
        return (x - y)
    elif z == "mult":
        return (x * y)
    else:
        return("not valid operation")

In [31]:
my_math_operation1(10,20,"add")

30

In [32]:
my_math_operation1(10,20,"sub")

-10

In [33]:
my_math_operation1(10,20,"mult")

200

In [34]:
my_math_operation1(10,20,"jtgcj")

'not valid operation'

### problem 1

In [35]:
odd_list1 = []

In [36]:
even_list1 = []

In [37]:
def my_list_operation(list):
    for i in list:
        if (i%2 == 0):
            even_list1.append(i)
        else:
            odd_list1.append(i)

In [38]:
my_list_operation(my_list1)

In [39]:
print(odd_list1)

[1, 3, 5, 7, 9, 11]

In [40]:
print(even_list1)

[2, 4, 6, 8, 10, 12]

### problem 2 : default arguments

In [41]:
def my_def_args(a, b = 20):
    return(a + b)

In [42]:
my_def_args(10)

30

In [43]:
my_def_args(10,40)

50

In [45]:
def greet(name, msg = "Good morning!"):
    print("Hello", name+ ',' + msg)

In [47]:
greet("Sankalp")

Hello Sankalp,Good morning!

In [48]:
greet("Sankalp", "Good night!")

Hello Sankalp,Good night!

### problem 3 : any number of arguments

In [49]:
def f1(*names):
    for name in names:
        print("Hello", name)

In [50]:
f1("Sankalp", "Rohit", "Akshay")

Hello Sankalp
Hello Rohit
Hello Akshay

In [51]:
f1()

In [52]:
f1("Sankalp")

Hello Sankalp

In [53]:
f1("Sankalp", "Akshay")

Hello Sankalp
Hello Akshay